.thumbnail {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  position: relative;
  min-height: 120px;
  font-size: 9pt;
}

.thumbnail .img, .thumbnail img {
  width: 120px;
}

.thumbnail .msg {
  margin: 0;
  padding: 10px 0 0 10px;
}

.thumbnail .msg p {
  margin: 0;
}

.thumbnail .ui-icon {
  position: absolute;
  display: inline-block;
  top: 60px;
  right: 10px;
}

@media all and (min-width: 320px) {
  .thumbnail .msg {
    width: 175px;
    padding: 5px 0 0 5px;
  }
}

@media all and (min-width: 480px) {
  .thumbnail .msg {
    width: 330px;
  }
}

@media all and (min-width: 860px) {
  .thumbnail .msg {
    width: 710px;
  }
}

@media all and (min-width: 1024px) {
  .thumbnail .msg {
    width: 880px;
  }
}